<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	<encoder>
		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
	</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="ru.audithon.egissostat.logic.person.bl" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="ru.audithon.common.mapper" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="ru.audithon.egissostat.infrastructure.mass.service" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="ru.audithon.egissostat.jobs" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

    <logger name="ru.audithon.egissostat.db" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- Connection pooling -->
    <!--<logger name="com.zaxxer.hikari" additivity="false">-->
        <!--<level value="debug" />-->
        <!--<appender-ref ref="STDOUT" />-->
    <!--</logger>-->

	<logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="ru.audithon.egissostat.logic.msp.dao.ZkhServiceWayAddrDaoImpl" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

</configuration>
